<h1>My Journal Entries</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
<%= link_to 'Home', root_path %> |
<%= link_to 'Add Entry', new_user_article_path %>
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= link_to 'Show', "/users/#{@user.id}/articles/#{article.id}" %></td>
      <td><%= link_to 'Edit', "/users/#{@user.id}/articles/#{article.id}/edit" %></td>
      <td><%= link_to 'Destroy', "/users/#{@user.id}/articles/#{article.id}",
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
