<h1>Journal Entry</h1>

<h2>
  <strong>Title:</strong>
  <%= @article.title %>
</h2>

<h5>
  <strong>Updated At: </strong>
  <%= @article.updated_at %>
</h5>

<h5>
  <strong>Created At: </strong>
  <%= @article.created_at %>
</h5>

<p>
  <%= @article.text %>
</p>

<%= link_to 'Edit', edit_user_article_path %> |
<%= link_to 'Back', user_articles_path %>
